.footer{:style => "text-align: center"}
  <a href="http://jonaquino.blogspot.com/2005/06/yubnub-my-entry-for-rails-day-24-hour.html">What Is This Thing?</a> 
  |
  = link_to_unless_current('List All Commands (ls)', commands_url)
  <a href="/commands.xml"><img src="/images/xml_button.gif" alt="Subscribe to RSS feed"></a> 
  |
  = link_to_unless_current('Create a New Command', new_command_url) 
  |
  = link_to_unless_current('Installing YubNub', install_url)
  |
  = link_to_unless_current('Advanced Syntax', syntax_url)
  = br
  = link_to_unless_current('Most-Used Commands', commands_url) 
  |
  = link_to_unless_current('Golden Eggs (Notable Commands)', :controller => 'parser', :action => 'parse', :cmd => 'ge')
  <a href="/kernel/golden_eggs.xml"><img src="/images/xml_button.gif" alt="Subscribe to RSS feed"/></a>  
  |
  = link_to_unless_current("Jeremy's Picks", picks_url)
  = br
  = link_to "Community (Google Group)", "http://groups.google.com/group/YubNub"
  |
  = link_to "Wiki", "http://www.editthis.info/yubnub/"
  |
  = link_to "YubNub Blog", "http://yubnub.blogspot.com/"
  |
  = link_to "Press (Technorati)", "/parse?command=tec+yubnub"
  |
  = link_to_unless_current('Acknowledgements', ack_url) 
  |
  <a href="mailto:jonathan.aquino@gmail.com">Typos? Spam? Contact Jon</a>